<html>
  <head>
    <title>IBooks Converter</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/app.css" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/client.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>IBooks Booksmarks Converter</h1>
      <textarea id="bookmarks"></textarea>
      <button id="cleanup" class="btn btn-primary btn-large">Clean Up Bookmarks</button>
      <div id="results"></div>
    </div>
  </body>
</html>
